@import 'vtortola-terminal';
@import 'color-schemes';

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, blockquote,a,
abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav {
  display: block;
}

html {
  overflow: hidden;
}

body {
  line-height: 1;
  background-color: black;
  height: 100%;
  
  background: -moz-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 83%, rgba(0,0,0,0.65) 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(0,0,0,0)), color-stop(83%,rgba(0,0,0,0.65)), color-stop(100%,rgba(0,0,0,0.65)));
  background: -webkit-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 83%,rgba(0,0,0,0.65) 100%);
  background: -o-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 83%,rgba(0,0,0,0.65) 100%);
  background: -ms-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 83%,rgba(0,0,0,0.65) 100%);
  background: radial-gradient(ellipse at center,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 83%,rgba(0,0,0,0.65) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=1 );
  transition: linear box-shadow .2s;
  padding:0;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.cmd-window {
  width: 100%;
  height: 100vh;
  /*height: 100vh;*/
  // background-color: black;
  // color: white;
  font-family: "Courier New", "Courier", monospace;
  margin: auto;
  text-indent: 15px;
  overflow-y:auto;
}

stats {
  visibility: hidden;
}

.stats-window {
  width: 100%;
  height: 50px;
  // background-color: black;
  background-color: transparent;
  // color: white;
  color: transparent;
  font-family: "Courier New", "Courier", monospace;
  /*margin: auto;*/
  margin-left: auto;
  margin-right: auto;
  padding-top:15px;
  display: table;
  
  p {
    text-align: center;
    display: table-cell;
    font-family: monospace;
    white-space: pre;
    margin: 1em 0;
  }
}

input:focus, select:focus, textarea:focus, button:focus {
  outline: none;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  
  &-button {
    width: 0px;
    height: 0px;
  }
  
  &-thumb {
    background: #4d4d4d;
    border: 0px none #ffffff;
    border-radius: 100px;
    
    &:hover {
      background: #6e6e6e;
    }
    
    &:active {
      background: #000000;
    }
  }
  
  &-track {
    background: #000000;
    border: 0px none #ffffff;
    border-radius: 100px;
    
    &:hover {
      background: #313131;
    }
    
    &:active {
      background: #4a4a4a;
    }
  }
  
  &-corner {
    background: transparent;
  }
}

.terminal {
  height: 100%;
  overflow-x: scroll;
}
